<div class="todos-list">
  <form>
    <input
      type="text"
      class="inputTodo"
      placeholder="Enter todo..."
      name="inputTodo"
      [(ngModel)]="inputTodo"
    />
    <input
      type="submit"
      value="add todo"
      class="todo-submit-btn"
      (click)="addTodo()"
    />
  </form>

  <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.complete ? 'done' : '' }}"
  >
    <div class="id">{{ i }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <button class="delete" (click)="deleteTodo(i)">delete</button>
  </div>
</div>
<div class="searchContainer">
  <form action="" class="searchForm">
    <label for="searchText">Search Text</label>
    <input
      type="text"
      class="searchInput"
      name="searchText"
      placeholder="Enter search text.."
      [(ngModel)]="searchText"
    />
    
  </form>
  <ul>
      <li *ngFor="let todo of todos | appFilter: searchText"
      appHighlight [content]="todo" [searchedWord]="searchText"
      [classToApply]="'font-weight-bold'" [setTitle]="'true'">
        {{todo.content}}
      </li>
  </ul>
</div>
